<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}bass_title{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='easyui/themes/default/easyui.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='easyui/themes/bootstrap/easyui.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='easyui/themes/icon.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lucky.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lucky_icon.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='easyui/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='easyui/jquery.easyui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lucky.js') }}"></script>

    {% block resource %}{% endblock %}
    {% block style %}{% endblock %}

</head>
<body class="easyui-layout">

{#body#}
{% block top %}{% endblock %}
{% block left %}{% endblock %}
{% block center %}{% endblock %}
{% block right %}{% endblock %}
{% block bottom %}{% endblock %}
{% block js %}{% endblock %}

</body>
</html>