{% extends "base.html" %}

{% block title %}home_title{% endblock %}

{% block resource %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/product.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/project.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/object.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/var.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/user_keyword.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/suite.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/case.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ui.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/stats.js') }}"></script>
{% endblock %}

{% block top %}
    <div data-options="region:'north'" class="top">
        <img class="logo" href="#" src="{{ url_for('static', filename='img/logo4.png') }}">
        <ul class="nav">
            <li><a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-product'" onclick="addTab('产品管理', '/product', 'icon-product');">产品管理</a></li>
            <li><a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-project'" onclick="addTab('项目管理', '/project', 'icon-project');">项目管理</a></li>
            <li><a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-task'" onclick="addTab('任务调度', '/task_list', 'icon-task');">任务调度</a></li>
                {% if current_user.username == 'admin' %}
                    <li><a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-user'" onclick="addTab('用户管理', '/user', 'icon-user');">用户管理</a></li>
                {% endif %}
            <li><a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-keyword'" onclick="addTab('关键字', '/help', 'icon-keyword');">关键字</a></li>
            <li><a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-guide'" onclick="addTab('操作指南', '/guide', 'icon-guide');">操作指南</a></li>
        </ul>
        <div class="logout_btn">
            <a href="/logout" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">退出</a>
        </div>
        <div class="top_username">
            {% if current_user.is_authenticated %}
                Hi {{ current_user.username }}!
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block left %}
    <div data-options="region:'west',split:true" style="width: 320px">
        <div style="margin: 0 0;"></div>
        <div style="margin-bottom:5px">
            <select id="project_list" name="project_list"
                            class="easyui-combobox" labelPosition="left" prompt="请选择项目..."
                            style="width:100%;" data-options="valueField:'id', textField:'name',editable:false "></select>
        </div>
        <div style="margin: 5px 0;"></div>
        <div class="easyui-panel" style="padding:5px;width:100%">
            <ul id="project_tree" name="project_tree" class="easyui-tree"
                data-options="animate:true,
                lines:true,
                onContextMenu: onContextMenu,
                onDblClick: onDblClick">
                <li><span>项目操作</span></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block center %}
    <div data-options="region:'center'" style="background:#eee;">
    <div style="margin: 0 0;"></div>
         <div id="editor_tabs" class="easyui-tabs" style="width:100%">
            <div title="欢迎页" style="padding:10px" data-options="iconCls:'icon-editor'">
                <h3> 欢迎你！&nbsp;&nbsp;&nbsp;{{ current_user.username }}</h3>
                <div style="float:left">
                    <div id="p1" class="easyui-panel" title="项目统计"
                         style="width:400px;height:320px;padding:10px;"
                         data-options="
                         collapsible:true,
                         tools:[{
                            iconCls:'icon-reload',
                            handler:function(){
                                project_stats('project_stats');
                            }
                            }]
                        ">
                        <canvas id="project_stats"></canvas>
                    </div>
                </div>
                <div style="float:left;padding-left:10px;">
                    <div id="p2" class="easyui-panel" title="任务统计"
                         style="width:400px;height:320px;padding:10px;"
                         data-options="
                         collapsible:true,
                         tools:[{
                            iconCls:'icon-reload',
                            handler:function(){
                                exec_stats('exec_stats');
                            }
                            }]
                         ">
                        <canvas id="exec_stats"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "menu.html" %}
    {% include "win.html" %}
{% endblock %}

{% block right %}
    <div data-options="region:'east',title:'East',split:true" style="width:100px;">
    </div>
{% endblock %}

{% block bottom %}
    <div data-options="region:'south',title:'South Title',split:true" style="height:100px;">
    </div>
{% endblock %}

{% block js %}
    <script>
        init_project_list();
        project_stats('project_stats');
        //task_stats('task_stats');
        exec_stats('exec_stats');
        $.extend($.fn.textbox.defaults.rules, {
            var_object : {// 验证变量输入
                  validator : function(value) {
                      return /^[\$|&|@]\{[A-Za-z0-9_]+\}$/.test(value);
                  },
                  message : '变量创建规则<br/>单个变量:${变量名}<br/>列表变量:@{变量名}<br/>字典变量:&{变量名}<br/>变量名只允许：大小写字母、数字或下划线'
            }
        });
        var ii=-1;
        $('#keyword_params').datagrid({
            onClickCell: function(index,field,value){
                if(ii != -1){
                    $(this).datagrid('endEdit', ii);
                    ii=-1;
                }
                else{
                    ii = index;
                    $(this).datagrid('beginEdit', index);
                    //var ed = $(this).datagrid('getEditor', {index:index,field:field});
                    //$(ed.target).focus();
                }
            }
        });
    </script>
{% endblock %}