{% extends "base.html" %}

{% block resource %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/task.js') }}"></script>
{% endblock %}

{% block center %}
    <div style="margin: 20px 0;"></div>
	<table id="task_list" class="easyui-datagrid" title="任务列表" style="width:100%;height:auto;"
			data-options="rownumbers: true,
			    singleSelect: true,
			    url: '/api/v1/task/?project_id={{ id }}',
			    method: 'get',
			    toolbar: toolbar,
			    pagination: true,
			    pageList: [10,20,30],
				pageSize: 20">
		<thead>
			<tr>
				<th data-options="field:'id'" hidden>id</th>
				<th data-options="field:'status', formatter:showImg">状态</th>
				<th data-options="field:'build_no'">任务ID</th>
				<th data-options="field:'name'">项目名称</th>
				<th data-options="field:'project_id'" hidden>项目ID</th>
				<th data-options="field:'start_time',width: 160">运行时间</th>
				<th data-options="field:'end_time',width: 160">结束时间</th>
				<th data-options="field:'duration'">持续时间</th>
                <th data-options="field:'cron',width: 120">Cron表达式</th>
				<th data-options="field:'runner'">执行人</th>
				<th data-options="field:'report',width: 80, formatter:view_detail_report">  </th>
				<th data-options="field:'log',width: 80, formatter:view_run_log"> 实时日志 </th>
			</tr>
		</thead>
	</table>

    <div id="delete_task_win" class="easyui-window" title="删除任务"
         data-options="modal:true,closed:true,iconCls:'icon-remove'"
         style="width:500px;height:210px;padding:10px;">
        <form id="delete_task_fm" action="/api/v1/task/" method="post">
            <div style="margin-bottom:20px">
                <input id="build_no" name="build_no" class="easyui-textbox" label="任务ID:" labelPosition="left" style="width:100%;height:32px;">
            </div>
            <div style="margin-bottom:20px">
                <input id="name" name="name" class="easyui-textbox" label="名称:" labelPosition="left" style="width:100%;height:32px;">
            </div>
            <input hidden name="id" value="">
            <input hidden name="method" value="delete">
            <div style="text-align:center;margin-bottom:20px">
                <a href="#" class="easyui-linkbutton" style="width:100px;height:32px" onclick="delete_task('delete_task_win', 'delete_task_fm');">删除</a>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
		var timer=null;
		var toolbar = [{
            text:'点击刷新',
            iconCls:'icon-refresh',
            handler:function(){
                $("#task_list").datagrid('reload');
                show_msg("提示信息", "刷新成功！");
            }
        },'-',{
            text:'自动刷新',
            iconCls:'icon-reload',
            handler:function(){
                timer = setInterval(function(){ $("#task_list").datagrid('reload'); }, 5000);
                show_msg("提示信息", "启动自动刷新成功！");
            }
        },'-',{
            text:'停止刷新',
            iconCls:'icon-break',
            handler:function(){
                clearInterval(timer);
                show_msg("提示信息", "停止自动刷新成功！");
            }
        },'-',{
            text:'删除',
            iconCls:'icon-remove',
            handler:function(){
                delete_task_confirm();

                {#$("#task_list").datagrid('reload');#}
                {#show_msg("提示信息", "刷新成功！");#}
            }
        }];
	</script>
{% endblock %}