<div id="object_win" class="easyui-window" title=""
     data-options="modal:true,closed:true,iconCls:'icon-object'"
     style="width:500px;height:230px;padding:10px;">
    <form id="object_fm" action="/api/v1/object/" method="post">
        <div style="margin-bottom:20px">
            <input name="name" id="name" class="easyui-textbox" label="名称:" labelPosition="left" style="width:100%;height:32px;">
        </div>
        <div style="margin-bottom:20px">
            <input name="desc" id="desc" class="easyui-textbox" label="描述:" labelPosition="left" multiline="true" style="width:100%;height:64px;">
        </div>
        <input hidden name="method" id="method" value="create">
        <input hidden name="category" id="category" value="object">
        <input hidden name="id" id="id" value="-1">
        <input hidden name="project_id" id="project_id" value="-1">
        <div style="text-align:center;margin-bottom:20px">
            <a href="#" class="easyui-linkbutton" style="width:100px;height:32px" onclick="manage_object('object_win', 'object_fm');">创建</a>
        </div>
    </form>
</div>
<div id="user_keyword_win" class="easyui-window" title=""
     data-options="modal:true,closed:true,iconCls:'icon-user_keyword'"
     style="width:500px;height:230px;padding:10px;">
    <form id="user_keyword_fm" action="/api/v1/user_keyword/" method="post">
        <div style="margin-bottom:20px">
            <input name="name" id="name" class="easyui-textbox" label="名称:" labelPosition="left" style="width:100%;height:32px;">
        </div>
        <div style="margin-bottom:20px">
            <input name="desc" id="desc" class="easyui-textbox" label="描述:" labelPosition="left" multiline="true" style="width:100%;height:64px;">
        </div>
        <input hidden name="method" id="method" value="create">
        <input hidden name="category" id="category" value="keyword">
        <input hidden name="id" id="id" value="-1">
        <input hidden name="project_id" id="project_id" value="-1">
        <div style="text-align:center;margin-bottom:20px">
            <a href="#" class="easyui-linkbutton" style="width:100px;height:32px" onclick="manage_user_keyword_suite('user_keyword_win', 'user_keyword_fm');">创建</a>
        </div>
    </form>
</div>
<div id="keyword_win" class="easyui-window" title=""
     data-options="modal:true,closed:true,iconCls:'icon-keyword'"
     style="width:740px;height:430px;padding:10px;">
    <form id="keyword_fm">

        <div style="margin-bottom:10px">
            <input name="keyword" id="keyword" class="easyui-textbox" label="关键字:" labelPosition="left" style="width:100%;height:32px;" required>
        </div>
        <table id="keyword_params" class="easyui-datagrid" style="display:'';width:710px;height:280px;"
               data-options="
               singleSelect:true
                ">
            <thead>
                <tr>
                    <th data-options="field:'param_0', width:20"></th>
                    <th data-options="field:'param_1',width:170,editor:{type:'combotree',options:{editable: true, onShowPanel: onShowKeywordPanel}}">参数1</th>
                    <th data-options="field:'param_2',width:170,editor:{type:'combotree',options:{editable: true, onShowPanel: onShowKeywordPanel}}">参数2</th>
                    <th data-options="field:'param_3',width:170,editor:{type:'combotree',options:{editable: true, onShowPanel: onShowKeywordPanel}}">参数3</th>
                    <th data-options="field:'param_4',width:170,editor:{type:'combotree',options:{editable: true, onShowPanel: onShowKeywordPanel}}">参数4</th>
                    <th data-options="field:'param_5',width:170,editor:{type:'combotree',options:{editable: true, onShowPanel: onShowKeywordPanel}}">参数5</th>
                    <th data-options="field:'param_6',width:170,editor:{type:'combotree',options:{editable: true, onShowPanel: onShowKeywordPanel}}">参数6</th>
                    <th data-options="field:'param_7',width:170,editor:{type:'combotree',options:{editable: true, onShowPanel: onShowKeywordPanel}}">参数7</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(10) %}
                <tr>
                    <td>{{ loop.index }}</td><td></td><td></td><td></td><td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <input hidden name="method" id="method" value="create">
        <input hidden name="id" id="id" value="-1">
        <input hidden name="suite_id" id="suite_id" value="-1">
        <div style="text-align:center;margin-top:10px">
            <a href="#" class="easyui-linkbutton" style="width:100px;height:32px" onclick="manage_keyword('keyword_win', 'keyword_fm');">创建</a>
        </div>
    </form>
</div>
<div id="suite_win" class="easyui-window" title=""
     data-options="modal:true,closed:true,iconCls:'icon-suite'"
     style="width:500px;height:230px;padding:10px;">
    <form id="suite_fm" action="/api/v1/object/" method="post">
        <div style="margin-bottom:20px">
            <input name="name" id="name" class="easyui-textbox" label="名称:" labelPosition="left" style="width:100%;height:32px;">
        </div>
        <div style="margin-bottom:20px">
            <input name="desc" id="desc" class="easyui-textbox" label="描述:" labelPosition="left" multiline="true" style="width:100%;height:64px;">
        </div>
        <input hidden name="method" id="method" value="create">
        <input hidden name="category" id="category" value="suite">
        <input hidden name="id" id="id" value="-1">
        <input hidden name="project_id" id="project_id" value="-1">
        <div style="text-align:center;margin-bottom:20px">
            <a href="#" class="easyui-linkbutton" style="width:100px;height:32px" onclick="manage_suite('suite_win', 'suite_fm');">创建</a>
        </div>
    </form>
</div>
<div id="case_win" class="easyui-window" title=""
     data-options="modal:true,closed:true,iconCls:'icon-case'"
     style="width:500px;height:230px;padding:10px;">
    <form id="case_fm" action="/api/v1/object/" method="post">
        <div style="margin-bottom:20px">
            <input name="name" id="name" class="easyui-textbox" label="名称:" labelPosition="left" style="width:100%;height:32px;">
        </div>
        <div style="margin-bottom:20px">
            <input name="desc" id="desc" class="easyui-textbox" label="描述:" labelPosition="left" multiline="true" style="width:100%;height:64px;">
        </div>
        <input hidden name="method" id="method" value="create">
        <input hidden name="category" id="category" value="case">
        <input hidden name="id" id="id" value="-1">
        <input hidden name="suite_id" id="suite_id" value="-1">
        <div style="text-align:center;margin-bottom:20px">
            <a href="#" class="easyui-linkbutton" style="width:100px;height:32px" onclick="manage_case('case_win', 'case_fm');">创建</a>
        </div>
    </form>
</div>
<div id="var_win" class="easyui-window" title=""
     data-options="modal:true,closed:true,iconCls:'icon-var'"
     style="width:500px;height:330px;padding:10px;">
    <form id="var_fm" action="/api/v1/var/" method="post">

        <div style="margin-bottom:20px">
            <input name="name" id="name" class="easyui-textbox" data-options="validType:'var_object'" label="对象名:" labelPosition="left" style="width:100%;height:32px;">
        </div>
        <div style="margin-bottom:20px">
            <input name="value" id="value" class="easyui-textbox" label="对象值:" labelPosition="left" multiline="true"  style="width:100%;height:118px;">
        </div>
        <div style="margin-bottom:20px">
            <input name="desc" id="desc" class="easyui-textbox" label="备注:" labelPosition="left" style="width:100%;height:32px;">
        </div>
        <input hidden name="method" id="method" value="create">
        <input hidden name="id" id="id" value="-1">
        <input hidden name="category" id="category" value="var">
        <input hidden name="object_id" id="object_id" value="-1">
        <div style="text-align:center;margin-bottom:20px">
            <a href="#" class="easyui-linkbutton" style="width:100px;height:32px" onclick="manage_var('var_win', 'var_fm');">创建</a>
        </div>
    </form>
</div>
<div id="ui_step_win" class="easyui-window" title=""
     data-options="modal:true,closed:true,iconCls:'icon-ui_step'"
     style="width:500px;height:450px;padding:10px;">
    <form id="ui_step_fm" action="/api/v1/step/" method="post">

        <div style="margin-bottom:10px">
           <input id="keyword" name="keyword" class="easyui-combotree"
                  data-options="
                    animate:true,
                    lines:true,
                    editable: true,
                    required: true,
                    label:'关键字:',
                    labelPosition:'left',
                    onShowPanel: onShowKeywordPanel"
                  style="width:100%;height:32px;">
        </div>
        <div style="margin-bottom:5px">
            <input id="param_1" name="param_1" class="easyui-combotree"
                  data-options="
                    animate:true,
                    lines:true,
                    editable: true,
                    label:'参数1:',
                    labelPosition:'left',
                    onShowPanel: onShowKeywordPanel"
                  style="width:100%;height:32px;">
        </div>
        <div style="margin-bottom:5px">
            <input id="param_2" name="param_2" class="easyui-combotree"
                  data-options="
                    animate:true,
                    lines:true,
                    editable: true,
                    label:'参数2:',
                    labelPosition:'left',
                    onShowPanel: onShowKeywordPanel"
                  style="width:100%;height:32px;">
        </div>
        <div style="margin-bottom:5px">
            <input id="param_3" name="param_3" class="easyui-combotree"
                  data-options="
                    animate:true,
                    lines:true,
                    editable: true,
                    label:'参数3:',
                    labelPosition:'left',
                    onShowPanel: onShowKeywordPanel"
                  style="width:100%;height:32px;">
        </div>
        <div style="margin-bottom:5px">
            <input id="param_4" name="param_4" class="easyui-combotree"
                  data-options="
                    animate:true,
                    lines:true,
                    editable: true,
                    label:'参数4:',
                    labelPosition:'left',
                    onShowPanel: onShowKeywordPanel"
                  style="width:100%;height:32px;">
        </div>
        <div style="margin-bottom:5px">
            <input id="param_5" name="param_5" class="easyui-combotree"
                  data-options="
                    animate:true,
                    lines:true,
                    editable: true,
                    label:'参数5:',
                    labelPosition:'left',
                    onShowPanel: onShowKeywordPanel"
                  style="width:100%;height:32px;">
        </div>
        <div style="margin-bottom:5px">
            <input id="param_6" name="param_6" class="easyui-combotree"
                  data-options="
                    animate:true,
                    lines:true,
                    editable: true,
                    label:'参数6:',
                    labelPosition:'left',
                    onShowPanel: onShowKeywordPanel"
                  style="width:100%;height:32px;">
        </div>
        <div style="margin-bottom:5px">
            <input id="param_7" name="param_7" class="easyui-combotree"
                  data-options="
                    animate:true,
                    lines:true,
                    editable: true,
                    label:'参数7:',
                    labelPosition:'left',
                    onShowPanel: onShowKeywordPanel"
                  style="width:100%;height:32px;">
        </div>
        <div style="margin-bottom:20px">
            <input name="desc" id="desc" class="easyui-textbox" label="备注:" labelPosition="left" style="width:100%;height:32px;">
        </div>
        <input hidden name="method" id="method" value="create">
        <input hidden name="id" id="id" value="-1">
        <input hidden name="case_id" id="case_id" value="-1">
        <div style="text-align:center;margin-bottom:10px">
            <a id="manage_step" href="#" class="easyui-linkbutton" style="width:100px;height:32px" onclick="manage_ui_step('ui_step_win', 'ui_step_fm');">创建</a>
        </div>
    </form>
</div>